<div th:fragment="about" xmlns:th="http://www.w3.org/1999/xhtml">



	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<body id="myPage">







	<link type="text/css" th:href="@{/css/about.css}" rel="stylesheet" />
	<header class="w3-container" style="padding-top:22px">
		<h5>
			<b><i class="fa fa-users fa-fw"></i> About us </b>
		</h5>
	</header>

	<table>
		<br>


		<!-- Team Container -->

		<div class="w3-container w3-padding-64 w3-center" id="team">
			<h2>OUR TEAM</h2>
			<p>Meet the team - our office rats:</p>

			<div class="w3-row"><br>

				<div class="w3-third">
					<img src="/img/magen.jpeg" alt="Boss" style="width:70%" class="w3-circle w3-hover-opacity">
					<h3>Magen Hagbi</h3>
					<p>support</p>
				</div>

				<div class="w3-third">
					<img src="/img/sior.jpeg" alt="Boss" style="width:70%" class="w3-circle w3-hover-opacity">
					<h3>Sior Nisimpur</h3>
					<p>support</p>
				</div>

				<div class="w3-third">
					<img src="/img/bar.jpeg" alt="Boss" style="width:70%" class="w3-circle w3-hover-opacity">
					<h3>Bar Hagbi</h3>
					<p>support</p>
				</div>



			</div>
		</div>
	</table>
	</body>
	</html>


</div>